<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="box">
  <input type="text" v-model="mes" @keydown.enter="add">
  <button >x</button>
  <p>{{mes}}</p>
  <ul v-for="todo in todos">
    <li>{{todo}}</li>
  </ul>
</div>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    new Vue({
      el:'#box',
      data:{
        mes:'',
        todos:['chifan']
      },
      methods:{
        add:function(){
          this.todos.unshift(this.mes)
          this.mes = ''
        }
      }
    })
</script>
</body>
</html>